body {
	background-image: url("./images/background.jpg");
	text-align: center;
}

h1 {
	color: red;
	text-shadow: 2px 2px slategrey;
}

input {
	height: 30px;
	width: 175px;
}

#generate {
	height: 30px;
	background-color: blue;
	color: white;
	font-size: 14px;
}
